aside.aside_mobile{z-index: 9999999;}
section{padding: 20px 2%;}

.friends_request{
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: auto;
}

.friends_request_wp{
  width: 200%;
  display: flex;
  gap: 20px;
}

.friends_wp{padding-top: 30px;}

.friends_wp h2{
    color: #92638b;
    margin-bottom: 30px;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.card{
  position: relative;
  min-width: 260px;
  min-height: 460px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 250px;
  min-height: 450px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  padding-top: 10px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #794b72;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.card .bg figure{
    width: 80%;
    padding-top: 80%;
    position: relative;
    margin-bottom: 15px;
}

.card .bg figure.withoutImg{
    font-size: 6rem;
    text-align: center;
    width: 90%;
    padding-top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #353535;
    color: #fff;
    border-radius: 4px;
    z-index: 999999;
}

.card .bg figure.withoutImg > i{
  position: relative;
  top: -40px;
}

.friends_request .card .bg figure{left: 50%; transform: translateX(-50%);}

.card .bg figure img{
  position: absolute;
  left: 0; top:0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.box_info{padding: 15px;}

.box_info h3{
    font-size: 1.1rem;
    color: #1f1e1e;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.box_info p{
    font-size: 0.9rem;
    color: #5a5a5a;
}

.box_info span.amigos_comum{
    display: inline-block;
    vertical-align: middle;
    background-color: #353535;
    border-radius: 50%;
    position: relative;
}

.box_info span:first-of-type{
    background-color: #794b72;
    left: 7px;
    width: 20px;
    height: 20px;
    z-index: 99;
}

.box_info span:last-of-type{
    width: 18px;
    height: 18px;
    top: 3px;
}

.bg .actions{
    margin-top: 20px;
    text-align: center;
}

.actions .btn_user {
  display: inline-block;
  border: none;
  color: #fff;
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.6em 1.5em;
  margin-bottom: 10px;
 }
 
 .btn_user:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 .btn_user.aceite{background-image: linear-gradient(30deg, #13a000, #95fd3f);}
 .btn_user.recuse{background-image: linear-gradient(30deg, #a00000, #f83c3c);}
 .btn_user.send_user{background-image: linear-gradient(30deg, #6e2764, #eb47d2);}

 .btn_user.seeProfile{
  color: #794b72;
  border: 2px solid #794b72;
 }

 .btn_user i{
  font-size: 1.1rem;
  margin-left: 4px;
  vertical-align: middle;
 }

 .btn_user svg{
  width: 1.1rem;
  vertical-align: middle;
  position: relative;
  top: -1px;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

 @media (max-width: 1000px){

 }
